.modal_background {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 1;
  justify-content: flex-end;
  backdrop-filter: blur(5px);
}
.column {
  flex-direction: column;
}
.modal_content {
  padding: 1rem;
  background: #fff;
}
ul li a {
  text-decoration: none;
  color: #393c41;
  text-transform: capitalize;
}
li {
  margin-bottom: 1rem;
}
.cyber {
  margin-top: 2rem;
}
.language {
  display: flex;
  align-items: start;
}
